body {
    text-align: center;
    width:165px;
    margin: 0;
}

.btn {
    background-color: #c62828;
}

.btn:hover {
    background-color: #ef5350;
}

.chip {
    width: 165px;
    position: relative;
    cursor: pointer;
    height: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none;
}

.chip:hover {
    background-color: #f1f1f1;
}
